.problem-link{
    text-decoration: none !important;
    color:black;
}
.problem-link:hover{
    color: blueviolet;
}

div.error {
    padding: 10px;
    background: #f89a9a;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
    font-weight: bolder;
}